* {
    padding: 0;
    margin: 0;
}

.container {
    width: 1024px;
    height: 768px;
    position: relative;
    margin: auto;
}

h1.score {
    top: 10px;
    left: 30px;
    position: absolute;
    font-size: 30px;
    z-index: 10;
    color: #fff;
}

.hpBar {
    z-index: 10;
    position: absolute;
    top: 1%;
    right: 1%;
    width: 15%;
}

.hpBar>h2 {
    color: white;
    float: left;
    margin-left: 1%;
}

.hpBox {
    width: 70%;
    height: 60%;
    background-color: #fff;
    position: absolute;
    right: 0%;
    float: right;
    top: 20%;
}

.hpBox>.hp {
    width: 100%;
    height: 100%;
    background-color: red;
}

.mpBar {
    z-index: 10;
    position: absolute;
    top: 5%;
    right: 1%;
    width: 15%;
}

.mpBar>h2 {
    color: white;
    float: left;
}

.mpBox {
    width: 70%;
    height: 60%;
    background-color: #fff;
    position: absolute;
    right: 0%;
    float: right;
    top: 20%;
}

.mpBox>.mp {
    width: 100%;
    height: 100%;
    background-color: blue;
}

.boss_hpBar {
    z-index: 10;
    position: absolute;
    top: 1%;
    right: 1%;
    width: 50%;
    height: 5%;
    left: 25%;
    display: none;
}



.boss_hpBox {
    width: 100%;
    height: 60%;
    background-color: #fff;
    position: absolute;
    float: right;
    top: 20%;
}

.boss_hpBox>.boss_hp {
    width: 100%;
    height: 100%;
    background-color: rgb(14, 216, 14);
}

#start {
    position: absolute;
    z-index: 10;
    margin-left: calc((1024px - 427px) / 2);
    margin-top: calc((768px - 320px) / 2);

}



#game_over {
    position: absolute;
    z-index: 10;
    margin-left: calc((1024px - 680px) / 2);
    margin-top: 10%;
    display: none;


}

#restart {
    position: absolute;
    z-index: 10;
    margin-left: calc((1024px - 512px) / 2);
    margin-top: 40%;
    display: none;
    cursor: pointer;

}

#win_game {
    position: absolute;
    z-index: 10;
    margin-left: calc((1024px - 512px) / 2);
    margin-top: 20%;
    display: none;
}

footer {
    text-align: center;
    color: #666;
    padding-top: 30px;
    font-size: 15px;
}

footer>h1 {
    font-size: 15px;
    text-align: center;
    color: #666;
}

#about_me {
    text-decoration: none;
}

#about_me:hover {
    color: red;
}